body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    background-color: #f0e4cc;
}
#mymap{
    background-color: #262626;
}

#logoMain {
    position: absolute;
    z-index: 800;
    top: 8px;
    left: 20px;
    cursor: pointer;
    width: 351px;
    height: 139px;
}

/* side -panel-css */
#left-side-panel {
    background-color: white;
    position: absolute;
    top: 159px;
    left: 20px;
    width: 0px;
    height: 0px;
    font-size: 12px;
    z-index: 900;
    border: 0px solid #030d13fe; 
    /* overflow-y: auto; */
}


#left-side-panel-legend{
    overflow-y: auto;
    height: 100%;
    max-height: 0px;
}
#left-side-panel-menu{
    overflow-y: auto;
    height: 100%;
    max-height: 0px;
    background-color: #2d4d57;
}
#left-side-panel-info{
    overflow-y: auto;
    height: 100%;
    max-height: 0px;
    background-color: #0d3852;
}
#left-side-panel-contact{
    overflow-y: auto;
    height: 100%;
    max-height: 0px;
    background-color: #030d13;
}

/* https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */

#card-one:hover,
#card-two:hover,
#card-three:hover,
#card-four:hover {
        /* -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); */
        
        -webkit-transform: rotateZ(-395deg) scale(1.3);
        -ms-transform: rotateZ(-395deg) scale(1.3);
        transform: rotateZ(-395deg) scale(1.3);
}

.cards{
    text-align: center;
    vertical-align: middle;
    line-height: 60px; 
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .1s ease-in-out;
          transition:         transform .1s ease-in-out;
}

/* THE cards that are used in the navigation between panels */
#card-one {
    position: absolute;
    bottom: 1px;
    left: 4px;
    height: 100%;
    max-height:  60px;
    width: 100%;
    max-width: 102px;
    background-color: #eeae6d;
    -webkit-box-shadow:inset 0px 0px 0px 10px white;
    -moz-box-shadow:inset 0px 0px 0px 10px white;
    box-shadow:inset 0px 0px 0px 7px white;
    opacity:0;
}

#card-two {
    position: absolute;
    bottom: 1px;
    left: 103px;
    height: 100%;
    max-height:  60px;
    width: 100%;
    max-width: 102px;
    BACKGROUND-COLOR: #2d4d57;
    -webkit-box-shadow:inset 0px 0px 0px 10px white;
    -moz-box-shadow:inset 0px 0px 0px 10px white;
    box-shadow:inset 0px 0px 0px 7px white;
    opacity:0;
}
#card-three {
    position: absolute;
    bottom: 1px;
    left: 203px;
    height: 100%;
    max-height:  60px;
    width: 100%;
    max-width: 102px;
    BACKGROUND-COLOR: #0d3852;
    -webkit-box-shadow:inset 0px 0px 0px 10px white;
    -moz-box-shadow:inset 0px 0px 0px 10px white;
    box-shadow:inset 0px 0px 0px 7px white;
    opacity:0;
}
#card-four {
    position: absolute;
    bottom: 1px;
    right: 4px;
    height: 100%;
    max-height:  60px;
    width: 100%;
    max-width: 102px;
    BACKGROUND-COLOR: #030d13;
    -webkit-box-shadow:inset 0px 0px 0px 10px white;
    -moz-box-shadow:inset 0px 0px 0px 10px white;
    box-shadow:inset 0px 0px 0px 7px white;
    opacity:0;
}

/* Animations USED for the side-panles */
@keyframes small-to-big {
    from {width: 0px; height: 0px; border: 0px solid #030d13fe;}
    to {width: 408px; height:700px; border: 2px solid #030d13fe;}
}
@keyframes big-to-small {
    from {width: 408px; height:700px; font-size:12px;}
    to {width: 0px; height: 0px; font-size:0px;}
}

/* color:transparent;
    font-size:0; */
#triger-button {
    position: absolute;
    top: 40px;
    left: 440px;
    padding: 10px 10px 10px 10px;
}

/* side-panel-content */
.myImg {
    /* border-radius: 5px; */
    float: left;
    transition: 0.3s;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 901; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}
.modal-logo {
    /* position: absolute;
    top: 15px;
    left: 35px; */
    display: block;
    position:relative;
    margin:0 auto;
    /* (600 / 2) - (60/2) */
    left:-270px;   
    padding: 10px 0;


}

/* Caption of Modal Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, .caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



.Images {
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
.Images p {
    padding-left: 16px;
}

.Images:hover {
    background-color: #0d3852;
    color: #eeae6d;
    /* opacity: 0.6; */
    cursor: pointer;
    height: 70px;

}
.Images:hover > .myImg {
    width: 100%;
    max-width: 60px !important;
}


/* 100% Image Width on Smaller Screens       NEEDS TO MODIFY THIS !!!!!!!!!!!!!   */ 
@media only screen and (max-width: 500px){
    .modal-content {
        width: 100%;
    }
}

button {
    z-index: 901;
}

.leaflet-top{
    z-index: 800;
}